* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    background-color: #946F3B;
    border: 2px solid #C77D14;
    overflow-x: hidden;
    height: 620px;
}
p {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: #3FFBAC;
}
#zero {
    margin-right: auto;
}


#principal {
    border-radius: 4%;
    width: 100%;
    height: 50px;
    background-color: #3FFBAC;
}

#questao {
    margin: 40px;
    display: grid;
    width: 40%;
    margin-left: auto;
    /*background-color: #000000;*/
}
.lev {
    position: relative;
}

#nome{
    margin: 4px;
    border: 2px solid #FA4900;
}
#email {
    margin: 4px;
    border: 2px solid #FA4900;
}
#senha {
    margin: 4px;
    border: 2px solid #FA4900;
}
#questao1 {
    margin: 4px;
    border: 2px solid #FA4900;
}
#questao1 {
    margin: 4px;
    border: 2px solid #FA4900;
}
#texto {
    margin: 4px;   
    border: 2px solid #FA4900;
}
#Power {
    margin: 4px;
    border-radius: 20%;
    border: 2px solid #FA4900;
}
